

:root {
    --clr-grey100: #F3F6FF;
    --clr-grey200: #EFF2FC;
    --clr-grey300: #E2E5F1;
    --clr-grey400: #D4D7E5;
    --clr-grey500: #B4B7C9;
    --clr-grey600: #9397AD;
    --clr-grey700: #565973;
    --clr-grey800: #33354D;
    --clr-grey900: #0B0F19;
    --clr-Primary: #6366F1;
    --clr-Gradiant: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "manrope";
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.BG {
  background: radial-gradient(118% 116.18% at 50% 100%, rgba(99, 102, 241, 0.10) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
  width: 100%;
}
.BG2 {
  background-color: #F3F6FF;
  width: 100%;
}

a {
  color: var(--clr-grey900);
  text-decoration: none;
}
    
.flex1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pilner {       
  margin-right: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.375rem;
  border: 1px solid #fff;
  background-color: #fff;
  flex-shrink: 0;
  cursor: pointer;
  transition: all .25s;
}
.pilner:hover {
  background-color: var(--clr-Primary);
}
.pilner:active {
  background-color: var(--clr-Primary);
}

.btn-primary {
  padding: .68rem 1.8rem 1.02rem 1.8rem;
  border-radius: .375rem;
  border: 1px solid var(--clr-Primary);
  background: var(--clr-Primary);
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.nav {
    margin-top: 0.44rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
}
.navbar {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    
}
.silicon {
    margin-left: .75em;
}

.featuresnav {
  font-weight: 600;
  display: none;
  color: var(--clr-grey800);
}

.featureslink:hover {
  color: var(--clr-Primary);
  text-decoration: underline;
}

.toggle {
    margin:.83rem 1.5rem .92rem auto ;
    display: flex;
    align-items: center;
    gap: .75rem;

    .togglelabel {
      display: none;
    }

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.87rem;
    height: 1.5rem;
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-grey600);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    left: .25rem;
    bottom: .18rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--clr-Primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px transparent;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

#darkmodetext {
  color: var(--clr-grey700);
  font-weight: 600;
}

.btn-signin {
  background-color: var(--clr-Primary);
  border-radius: .25rem;
  padding: .56rem 1.25rem;
  transition: all .25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-signin:hover {
  background-color: var(--clr-grey700);
}
.btn-signin i {
  margin-right: .5rem;
}

#auth-signin {
  display: none;  
  color: white;
}

.drop-down {
    margin-right: 1.22em;
    
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}

.page-1 {
    /* background: radial-gradient(118% 116.18% at 50% 100%, rgba(99, 102, 241, 0.10) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%); */
    padding-top: 1.63rem;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;

    .image1 {

      display: none;
    }
    .h1{
        text-align: center;
        margin-left: 2.81rem;
        margin-right: 2.91rem;
        margin-bottom: 1.14rem;
        color: var(--clr-grey900);
        font-size: 2.13125rem;
        font-weight: 800;
        line-height: 2.77375rem;
    }
    .text1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 0 1.04rem 1.55rem .75rem;
        height: 7.2rem;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--clr-grey700);
        
    }
    .app {
        width: 95%;
        height: 3.15rem;
        border: 1px solid black;
        border-radius: .5rem;
        background-color: black;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fit {
        width: 100%;
        padding: .5rem 0;
    }
    .discover {
        margin: 1rem auto 1.88rem auto;
        display: flex;
        
        /* .pilner {
        
          margin-right: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 1.375rem;
          border: 1px solid #fff;
          background-color: #fff;
          flex-shrink: 0;
          cursor: pointer;
          transition: all .25s;
        } */
        .text2 {
          min-width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        /* .pilner:hover {
          background-color: var(--clr-Primary);
        }
        .pilner:active {
          background-color: var(--clr-Primary);
        } */
    }
    
}
/* logorna */
.logos{
  margin-top: 6rem;
  display: none;
}
.logo {
  height: 6.25rem;
  border: 1px solid var(--clr-grey300);
  border-radius: .5rem;
  padding: 0 auto;
}

.page-2 {
    text-align: center;
    
    .h2features {
      padding-top: 2.3rem;
      padding-bottom: 1.5rem;
      font-size: 1.74rem;
      font-weight: 800;
      line-height: 2.26rem;
    }

    .textpage2 {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.8rem;
      color: var(--clr-grey700);
      padding: 0 .75rem;
    }

    .featuresall {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 2rem .75rem .75rem .75rem;
      
      .textfeatures {
        padding-bottom: 2rem;
      }

      .features {
        display: flex;
      }

      .text {
        padding-left: 1.5rem;
      }

      .h3features {
        padding-bottom: .7rem;
      }
    }
}
.page-3 {
    
    text-align: center;
    width: 100%;

    .h2features {
      padding-top: 4rem;
      padding-bottom: 1.1rem;
      font-size: 1.74rem;
      font-weight: 800;
      line-height: 2.26rem;
    }

    .imagemobile {
      position: relative;
      top: 0;
      left: 0;
      padding: .9rem 1.66rem 1rem 1rem;
      
    }
    .background
       {
        position: absolute;
      }

    .h3container {
      margin: 0 .75rem .75rem .75rem;
      .h3features {
        padding: 1rem 1rem 0 1rem;
        font-size: 1.35rem;
        font-weight: 800;
        line-height: 1.88rem;
        margin: 0 .9rem;
      }
    }

    .textpage3 {
      margin: 0 .95rem 3.5rem .95rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      color: var(--clr-grey700);
    }
}
.page-4 {
  text-align: center;

  .h2features {
    font-size: 1.53rem;
    font-weight: 800;
    line-height: 2rem;
    margin: 2.7rem 1rem 1.25rem 1rem;
  }

  .textpage4 {
    margin: 0 1.3rem 3.4rem 1.3rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #585C7B;
  }

  .pilner {       
    margin-right: 0;
    margin-left: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.375rem;
    border: 1px solid #fff;
    background-color: var(--clr-Primary);
    flex-shrink: 0;
    cursor: pointer;
    transition: all .25s;
    box-shadow: 0px -8px 18px -8px var(--clr-Primary);
  }
  .pilner2 {
    margin-right: 0;
    margin-left: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.375rem;
    border: 1px solid #fff;
    background-color: var(--clr-grey100);
    flex-shrink: 0;
    cursor: pointer;
    transition: all .25s;
  }
  .pilner:hover {
    background-color: var(--clr-grey200);
    box-shadow: none;
  }
  .pilner:active {
    background-color: var(--clr-grey200);
    box-shadow: none;
  }

  .faqborder {
    border: 1px solid var(--clr-grey300);
    margin: 0 .75rem;
  }

  #faq1 {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
  }
  #faq7 {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
  .faq {
    display: flex;                                                                    
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem 1.5rem;
  }
  .h2faq {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.3rem;
    color: #131022;
  }
  #faq2 {
    border: 1px solid var(--clr-grey300);
    margin: 0 .75rem;
    border-radius: 0;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.87rem;
  }
  
  .faqtext {
    color: #585C7B;
  }

  .contact {
    margin-top: 3.65rem;
  }

  .newsletter {
    margin-top: 2.66rem;
    margin: 2.66rem .75rem 0 .75rem;
    padding: 3rem .8rem 2.11rem .8rem;
    background: var(--clr-grey100);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .klockan {
    gap: 1rem;
  }

  .sign-up-form {
    display: flex;
    margin-top: 2rem;
  }

  .form-input {
    padding: 0.625rem 0.625rem 0.625rem 2.5rem; /* Equivalent to 10px 10px 10px 40px */
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 512 512%27%3E%3Cpath d=%27M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z%27/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 0.625rem center; /* Equivalent to 10px */
    background-size: 1.25rem 1.25rem; /* Equivalent to 20px 20px */
    width: 100%;
    border: 0.0625rem solid var(--clr-grey400);
    border-right: 0;
    border-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 1rem;

    &:focus {
      outline: 1px solid var(--clr-Primary);
    }
  }

  .btn-sub {
    background: var(--clr-Primary);
    border: 0;
    color: white;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
  }
}
.footer {
  margin-top: 1.63rem;
  margin-bottom: 1.88rem;
  color: var(--clr-grey600);
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .page {
    max-width: 720px;
  }
  .page-1 {
    .image1 {

      display: block;
    }
    
    .h1{
      padding: 0 20%;
    }
    .flex1-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      place-items: center;
      margin-top: auto;
      width: 18.75rem;
    }
    #item1-2-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin: 0;
    }
    
  }
  .flex1-1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .nav {
    min-width: 720px;
    max-width: 100%;
  }
  #darkmodetext {
    display: block;
  }
  .drop-down {
    margin-left: 2.5rem;
  }
  .featuresnav {
    display: block;
    margin-bottom: .2rem;
  }
  
  .logos {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
  #logo5 {
    display: none;
  }
  #logo6 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .page {
    max-width: 1320px;
  }
  .navbar {
    width: 1320px;
    margin: 0 auto;
    gap: 2.5rem;
  }
  .featuresnav {
    display: block;
  }
  #auth-signin {
    display: block;
  }
  .drop-down {
    display: none;
  }

  /* sida1 */

  .logos {
    width: 1320px;
  }
  .logo {
    padding: 0 2rem;
  }
  #logo5 {
    display: flex;
  }
  #logo6 {
    display: flex;
  }

}