
.text1 {
    color: var(--clr-black);
}

.discover {
    .text2 {
      color: var(--clr-grey600-dark);
    }
}

.textpage2 {
    color: var(--clr-grey700);
}

.faqtext {
    color: var(--clr-grey700);
}

#faq2 {
    border: 1px solid var(--clr-grey300);
}

.h2faq {
    color: var(--clr-grey900);
}

.textpage4 {
    color: var(--clr-grey700);
}
    